<% unless comment.archived? %>
  <div id="comment-<%=comment.id%>">
  <div>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </div>

  <div>
    <strong>Comment:</strong>
    <%= comment.body %>
  </div>

  <div>
    
  <%= time_ago_in_words(comment.created_at) %> ago 
  </div>

  <div>
    <%= link_to "Destroy Comment", [comment.article, comment],class:"delete-comment-link custom-link",  data: {

                  comment_id: comment.id, 
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
  </div>
  </div>
<% end %>
