<% if user_signed_in? %>
  <h3>Welcome Home, <%= current_user.email %><p id="notice" ><%=notice%></p></h3>
  Our blog has <%= Article.public_count%> articles and counting!

<table style="border:1px solid">
<tr>
<th >Article name</th>
<th>Created by</th>
<th>Access rights</th>
</tr>
<% @articles.each do |article| %>
<tr>

<td><%=link_to article.title,article%></td>
<td><% unless article.user_id == nil %>
<%= article.user.email %>
<%end%>
</td>
<td><ul>
 <% if article.user_id == current_user.id %>
 <li><%=link_to "Edit Article", edit_article_path(article.id)%></li> 
 <li><%=link_to "Show Article", article_path(article.id)%></li>
 <li><%= link_to "Delete Article", article_path(article.id), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
<%else%>
 
 <li><%=link_to "Show Article", article_path(article.id)%></li>
 <%end%>
</ul></td>
<%end%>
</tr>
</table>

<br/>
<%= link_to "New Article", new_article_path %>
<br/>
  <%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete } %>


<% else %>
  <h1 style="text-align:center;color:blue;">KR Authentication System</h1>

  <%= link_to 'Sign in', new_user_session_path %>
<% end %>
 

