<h1 class="text-center"><%= @article.title %></h1>

<p class="text-center"><%= @article.body %></p>

<ul>
 <% if @article.user_id == current_user.id %>

  <li><%= link_to "Edit", edit_article_path(@article),class:"custom-link text-link" %></li>
  <li><%= link_to "Destroy", article_path(@article),class:"custom-link text-link", data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
  <%end%>
  
  
   
</ul>

<h2>Comments</h2>
<%=render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form'%>